.text_input {
  display: block;
  width: 100%;
  border: none;
  padding: 1em 2em;
  border-radius: 6px;
  margin-bottom: 2em;
  background-color: #F0F0F0;
  outline: none;
}

.payment_method_label {
  margin-left: 1em;
}

.recurring_payment_label {
  margin-top: 2em;
}

.recurring_payment_label,
.streaming_payment_label {
  display: block;
  margin-bottom: 2em;
}

.checkbox {
  margin-left: 0.2em;
}

.submit_btn {
  display: block;
  cursor: pointer;
  background-color: black;
  color: #fff;
  padding: 1em 1.5em;
  border-radius: 8px;
  width: 100%;
  transition: all ease 100ms;

}


.submit_btn:not(:disabled):hover {
  transform: scale(1.012)
}


.submit_btn[data-mint-loading="true"] {
  background: rgba(22, 25, 31, 0.24);
}

.submit_btn[data-mint-started="true"] {
  background-image: linear-gradient(270deg, black, black);
  position: relative;
}

.submit_btn[data-mint-started="true"]::after {
  animation-name: pulse;
  animation-duration: 600ms;
  animation-direction: alternate;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
  background-color: black;
  border-radius: inherit;
  bottom: 0;
  content: ' ';
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
}

.submit_btn[data-mint-done="true"] {
   opacity: 0;
   transform: scale(0.85);
}

@keyframes pulse {
  0% { opacity: 0 }
  100% { opacity: '100%' }
}

/*
  Card flip
*/

.scene {
  width: 45%; 
  max-width: 550px; 
  margin: 0 auto; 
  height: 100vh;
  perspective: 1000px;
}

.card {
  width: 100%;
  height: 100%;
  position: relative;
  transition: transform 0.5s;
  transform-style: preserve-3d;
}

.card__face {
  position: absolute;
  height: 100%;
  width: 100%;
  backface-visibility: hidden;
}

.card__face__front {
  padding: 2em;
  border-radius: 10px;
  box-shadow: rgb(204 204 204 / 25%) 0px 0px 6px 3px;
}

.card__face__back {
  background: #F0F0F0;
  transform: rotateY( 180deg );
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  border-radius: 10px;
}

.is_flipped {
  transform: rotateY(180deg);
}

.success_msg {
  font-size: 1.5em;
  margin-bottom: 1em;
  color: #4BB543;
}

.link {
  display: block;
  text-decoration: underline;
  margin-top: 0;
  margin-bottom: 1em;
}

.button {
	display: block;
  width: 70%;
	background: #000;
	color: #fff;
	border-radius: 6px;
	padding: 0.7em 1.7em;
  margin: 0 auto;
	margin-bottom: 1em;
}