.container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.form {
  padding: 2.5em 4em;
  border-radius: 10px;
  box-shadow: rgb(204 204 204 / 25%) 0px 0px 6px 3px;
}

.text_input {
  display: block;
  width: 100%;
  border: none;
  padding: 1em 2em;
  border-radius: 6px;
  margin-bottom: 2em;
  background-color: #F0F0F0;
  outline: none;
}

.payment_method_label {
  margin-left: 1em;
}

.streaming_payment_label {
  margin-top: 2em;
}

.streaming_payment_label,
.recurring_payment_label {
  display: block;
  margin-bottom: 2em;
}

.checkbox {
  margin-left: 0.2em;
}

.submit_btn {
  display: block;
  cursor: pointer;
  background-color: black;
  color: #fff;
  padding: 1em 1.5em;
  border-radius: 6px;
  width: 100%;
}